<script src="/javascripts/nav.js" defer></script>
<link rel="stylesheet" href="css/nav.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--search icon-->
<nav class = "navBar">
    <div class= "navBar-container">
        <a href="/" class = "navBar-logo">Rotomii</a>
        <button type="button" class="navBar-toggle">
            <span class ="bar"></span>
            <span class ="bar"></span>
            <span class ="bar"></span>
        </button>
        <ul class = "nav-links">
           <li><a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a></li>
                <% if (user) { %>
                    <li><a href="/teams" class="<%= currentPath === '/myteams' ? 'active' : '' %>">My Teams</a></li>
                    <li><a href="/profile" class="<%= currentPath === '/profile' ? 'active' : '' %>"><%= user.username %></a></li>
                    <li><a href="/api/auth/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login" class="<%= currentPath === '/login' ? 'active' : '' %>">Login</a></li>
                <% } %>

            <li class= "nav-search-item">
                <form class= "nav-search" onsubmit="return false;">
                    <input type="text" class="nav-search-input" placeholder="Search Pokemon...">
                    <i class="fa fa-search"></i>
                </form>
            </li>
        </ul>
    </div>
</nav>
