<script src="/javascripts/nav.js" defer></script>
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--search icon-->
<nav class = "navBar">
    <div class= "navBar-container">
        <a href="/" class = "navBar-logo">Rotomii</a>
        <button type="button" class="navBar-toggle">
            <span class ="bar"></span>
            <span class ="bar"></span>
            <span class ="bar"></span>
        </button>
        <ul class = "nav-links">
           <li><a href="/" class="<%= currentPath === '/' ? 'active' : '' %> Fredoka-text">Home</a></li>
                <% if (user) { %>
                    <li><a href="/teams" class="<%= currentPath === '/myteams' ? 'active' : '' %> Fredoka-text">My Teams</a></li>
                    <li><a href="/profile" class="<%= currentPath === '/profile' ? 'active' : '' %> Fredoka-text"><%= user.username %></a></li>
                    <li><a href="/search" class="<%= currentPath === '/search' ? 'active' : '' %> Fredoka-text">Search</a></li>
                    <li><a href="/api/auth/logout" class="Fredoka-text">Logout</a></li>
                <% } else { %>
                    <li><a href="/login" class="<%= currentPath === '/login' ? 'active' : '' %> Fredoka-text">Login</a></li>
                <% } %>
        </ul>
    </div>
</nav>
