<script src="/js/pokemonNames.js" defer></script>
<script src="/js/findPokemon.js" defer></script>


<div style="width:1800px; margin-left: auto; margin-right: auto;">
     <div id="slot-1" style="float:left; height: 85%; width: 300px; border-right: 1px solid darkgrey">
          <%- include('testSlot') %>
     </div>

     <div id="slot-2" style="float:left; height: 85%; width: 300px; border-right: 1px solid darkgrey">
          <%- include('testSlot') %>
     </div>

     <div id="slot-3" style="float:left; height: 85%; width: 300px; border-right: 1px solid darkgrey">
          <%- include('testSlot') %>
     </div>

     <div id="slot-4" style="float:left; height: 85%; width: 300px; border-right: 1px solid darkgrey">
          <%- include('testSlot') %>
     </div>

     <div id="slot-5" style="float:left; height: 85%; width: 300px; border-right: 1px solid darkgrey">
          <%- include('testSlot') %>
     </div>

     <div id="slot-6" style="float:left; height: 85%; width: 300px">
          <%- include('testSlot') %>
     </div>

</div>