<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
    <title> Rotomii - My Profile </title>
    <link rel="stylesheet" href="css/themeSwitch.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
<header>
    <%- include('partials/navbar') %>
</header>

<body>
    <div class="profile-container">
        <h1>Your Profile</h1>
        <div class="profile-row">
            <div class="avatar-wrapper">
                <% if (user.avatar_image) { %>
                        <img src="<%= user.avatar_image %>" alt="avatar" class="avatar-img">
                    <% } else { %>
                        <img src= "/images/default-PFP.jpg" alt ="default-avatar" class="avatar-img">
                <% } %>
            </div>
        <div class="edit-btn-wrapper">
                <a tabindex=1 href="/edit-profile" class="edit-btn">Edit profile</a>
        </div>
    </div>
        <div class="profile-details">
            <div class="detail-group">
                <label>Username</label>
                <p><%= user.username %></p>
            </div>

            <div class="detail-group">
                <label>Email</label>
                <p><%= user.email %></p>
            </div>

            <div class="detail-group">
                <label>Address</label>
                <p><%= user.address %></p>
            </div>

            <div class="detail-group">
                <label>Password</label>
                <p>*******</p>
            </div>

             <div class="detail-group">
                <label>Joined</label>
                <p><%= new Date(user.created_at).toLocaleDateString() %></p>
            </div>
        </div>
    </div>

    <!--  footer  -->
    <%- include('partials/footer') %>
</body>
</html>